.content{
    width: 100%;
    height: 700px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.display{
    height: 60px;
    display: flex;
    margin: 120px 0px 0px 0px;
}
.display div{
    font-size: 50px;
    margin: 0px 20px 0px 20px;
}
.but_all button{
    color:white;
    font-size: 20px;
    margin: 0px 70px 0px 70px;
    width: 120px;
    border: 0px;
    border-radius: 100%;
    height: 120px;
}
